:4173 {
        # Set this path to your site's directory.
        root * /opt/app

        # Enable the static file server.
        # Fallback for SPA routing
        try_files {path} /index.html

        file_server
}